*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
  body{
    background-color: lightblue;
  }
  
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  gap: 20px;
}

#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#header img{
  width: 100px;
  height: auto;
}

#nav-bar{
  display: flex;
  flex-direction: row;
  gap: 25px;
}

#nav-bar a{
  text-decoration: none;
  color: rgb(43, 42, 42);
}


#video-div{
  width: 40%;
  height: 350px;
}

iframe{
  width: 100%;
  height: 100%;
}

form{
  width:40%;
  text-align: center;
}

#email{
  width: 70%;
  padding: 10px;
}

#submit{
  width: 150px;
  height: 35px;
  margin-top: 5px;
  background-color: yellow;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.5s;
}

#submit:hover{
  background-color: orangered;
}
